body {
  box-sizing: border-box;
  font-family: "Major Mono Display", monospace;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

main {
  width: 70%;
  margin: auto;
}

/* !==== HEADER ==== */

.header {
  font-family: "Major Mono Display", monospace;
}

h1 {
  font-size: xx-large;
  margin: 1rem 0rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  text-shadow: 2px 2px 5px rgb(248, 247, 247);
}

h1:hover,
.sous-titre:hover {
  text-shadow: 4px 4px 1px rgb(248, 247, 247);
  transition: 2s;
}

.sous-titre {
  text-align: left;
  font-size: 4rem;
  padding: 1.5rem 0;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  margin-bottom: 3.5rem;
  text-shadow: 2px 2px 5px rgb(248, 247, 247);
}

.citation {
  display: block;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 8rem;
  text-shadow: 3px 3px 5px rgb(248, 247, 247);
}

/* !==== CONTAINER ==== */

.container-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 600px;
  margin-bottom: 5rem;
  position: relative;
}

.container-div--paysage {
  height: 240px;
}

.container-div-photo {
  width: 20rem;
}

.container-div-photo > img {
  width: 25rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.container-div-text {
  width: 110rem;
  height: 17rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Major Mono Display", monospace;
  text-align: justify;
  z-index: 10;
  padding-left: 1rem;
  margin-left: 20rem;
  text-shadow: 4px 4px 5px rgb(248, 247, 247);
}

.container-div-text > h4 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
}

.container-div-text > h4:hover {
  text-shadow: 4px 4px 1px rgb(248, 247, 247);
  transition: 1s;
}

.container-div-text > q {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 1.8rem;
}

.container-div-text > p {
  font-size: 0.9rem;
}

footer {
  text-align: left;
  height: 2rem;
}

@media (max-width: 1000px) {
  /* !===HEADER=== */

  h1 {
    font-size: 3rem;
    margin: 1rem 0rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    text-shadow: 2px 2px 5px rgb(248, 247, 247);
    border-bottom: 2px solid white;
    transition: 3s;
  }

  .sous-titre {
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2.8rem;
    border: none;
    transition: 3s;
  }

  .citation {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    text-align: left;
    width: 80%;
  }

  .header {
    border-left: 2px solid white;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  /* !===CONTAINER=== */

  .container-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1100px;
    margin-bottom: 5rem;
    position: relative;
  }

  .container-div--paysage {
    height: 480px;
  }

  .container-div-photo {
    width: 40rem;
  }

  .container-div-photo > img {
    width: 45rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0rem;
  }

  .container-div-text {
    width: 100rem;
    height: 850px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.005));
    font-family: "Major Mono Display", monospace;
    text-align: left;
    z-index: 10;
    padding-left: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    text-shadow: 4px 4px 5px rgb(248, 247, 247);
  }

  .container-div-text--paysage {
    height: 380px;
  }
}

@media (max-width: 500px) {
}
